<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="app.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1>todo <span>list</span></h1>
        </header>
        <section class = "form">
            <input type="text" id="todoInput" name="todoInput" placeholder="Insert your task here..."/>
        </section>
    
        
        <script type="text/javascript" src="app.js"></script>
        
    </body>
</html>